/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}


/* JAVI */

#tb_reporte_rutas_length:focus{
    box-shadow:0 0 0 0.2rem rgba(86,204,157,0.25);
}

select:focus{
    box-shadow:0 0 0 0.2rem rgba(86,204,157,0.25) !important;
    outline: none;
}

/*
div.dataTables_wrapper div.dataTables_length {
	width: 40% !important;
}*/

/*
div.dataTables_wrapper div.dataTables_length label {
	width: 100% !important;
}

div.dataTables_wrapper div.dataTables_length select {
	border: 1px solid #ced4da;
    height: 36px;
    background-color: white;
    width: 15%;
}


div.dataTables_wrapper div.dataTables_filter input {
	border: 1px solid #ced4da;
    height: 36px;
    border-radius: 0.4rem;
    background-color: white;
    width: 60%;
}

div.dataTables_wrapper div.dataTables_filter{
    width: 45%;
}


div.dataTables_wrapper div.dataTables_filter label{
    width: 100%;
}
*/
div.dataTables_wrapper div.dataTables_filter input:focus{
    outline: none;
    box-shadow:0 0 0 0.2rem rgba(86,204,157,0.25) !important;
}

.odd:hover{
    cursor: pointer;
    background-color: rgba(64, 180, 134, 0.808) !important;
    color: white !important;
    transition: .3s;
}

.even:hover{
    cursor: pointer;
    background-color: rgba(64, 180, 134, 0.808) !important;
    color: white !important;
    transition: .3s;
}
 
.alert-info{
    color:rgb(255, 255, 255) !important;
}

.alert-info,.alert-info>th,.alert-info>td{background-color: rgba(22, 99, 68, 0.808) !important}


/* PARCHES JAVI PARA ESTILOS DataTable REPORTE SEMANAL */

#tb_reporte_ruta_length{
    float: left;
}

div.dt-buttons{
    padding: 0px 5%;
}

div.dt-buttons div.btn-group{
    width: 100%;
}

div.dt-buttons div.btn-group button.btn span{
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

#tb_reporte_ruta_filter{
    float: right;
}

div.dataTables_wrapper div.dataTables_filter label{
    width: 90%;
    text-align: right !important;
}
div.dataTables_wrapper div.dataTables_filter input {
	border: 1px solid #ced4da;
    height: 36px;
    border-radius: 0.4rem;
    background-color: white;
    width: 70% !important;
}