{% extends 'main.twig' %}

{% block contenido_principal %}
<div class="col-md-12" id="reporte_semanal" >
	<div class="row">
		<div class="col-md-4" style="margin: 0px; !important;">
		&nbsp;
		</div>
		<div class="col-md-4">
			<select class="form-control" id="num_semana" v-model="num_semana" @change="onChange($event)">
			</select>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12" style="margin: 0px; !important;">
		&nbsp;
		</div>
		
	</div>
	<table id="tb_reporte_ruta" class="table table-bordered table-hover " >
		<thead id="head_reporte" style="border-radius: 3px !important;">
			<tr id="head_reporte_row1" style="background-color: #333 !important; color: white !important">
				<th rowspan="2">No.</th>
				<th rowspan="2">Ruta</th>
				<th colspan="3">Lunes</th>
				<th colspan="3">Martes</th>
				<th colspan="3">Miercoles</th>
				<th colspan="3">Jueves</th>
				<th colspan="3">Viernes</th>
				<th rowspan="2">Proveedor</th>
			</tr>
			<tr id="head_reporte_row2" style="background-color: #666 !important; color: white !important">
				<th id="lunes_personal">Personal</th>
				<th id="lunes_entrada">Entrada</th>
				<th id="lunes_salida">Salida</th>
				<th id="martes_personal">Personal</th>
				<th id="martes_entrada">Entrada</th>
				<th id="martes_salida">Salida</th>
				<th id="miercoles_personal">Personal</th>
				<th id="miercoles_entrada">Entrada</th>
				<th id="miercoles_salida">Salida</th>
				<th id="jueves_personal">Personal</th>
				<th id="jueves_entrada">Entrada</th>
				<th id="jueves_salida">Salida</th>
				<th id="viernes_personal">Personal</th>
				<th id="viernes_entrada">Entrada</th>
				<th id="viernes_salida">Salida</th>
				
			</tr>
		</thead>
		<tbody id="body_reporteS">
		{#<tr v-for="(val, ruta, index) in ruta_dia">
		<th v-text="val[index].id_ruta"></th>
		<td v-text="val[index].ruta"></td>
		</tr>#}
		</tbody>
	</table>
	<br><br><br>
</div>
{% endblock %}
{% block contenido_js %}
	<script src="js/reporte/rep_semanal.js"></script>
{% endblock %}